.top_game {
    display: flex; /* Use flexbox to arrange items horizontally */
    align-items: center; /* Center items vertically within the container */
    margin-top: 75px;
    margin-left: 20%;
}

/* Style for the image */
img {
    width: 50%; /* Adjust the width of the image as needed */
    height: auto; /* Maintain the aspect ratio of the image */
    margin-right: 10px; /* Add some space between the image and text */
}

/* Style for the text */
.big_game_text {
    font-size: 16px; /* Adjust the font size as needed */
}

body{
    background-color: #023047;
}

.game_col{
    size:20%;
    background-color: #EB5E28;
}
